---
layout: default
title: Home Page
---

{% for post in paginator.posts %}
<article class="entry" id="{{ post.id }}">
  <header>
    <h1 class="entry-title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
    <p class="entry-meta">
      <time>{{ post.date | date: '%Y/%m/%d %A' }}</time>
    </p>
  </header>

  {% assign fragments = post.content | split: '<!-- more -->' %}
  {% assign size = fragments | size %}

  {{ fragments | first }}

  {% if size > 1 %}<p><a href="{{ post.url }}">继续阅读 &rarr;</a></p>{% endif %}
</article>
{% endfor %}
